* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url('bg_imut.png') no-repeat center center fixed;
    background-size: cover;
}

.schedule-container {
    width: 80%;
    max-width: 900px;
    margin: 3rem auto;
    padding: 2rem;
    background: rgba(0, 0, 51, 0.9);
    border-radius: 30px;
    border: 2px dashed #fff;
    box-shadow: 5px 5px #000;
    color: #fff;
    overflow: hidden;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #e0e0e0;
}

table {
    width: 100%;
    margin: 20px auto;
    height: 25vh;
    border-collapse: collapse;
    border: 2px dashed #fff;
    text-align: center;
    color: #fff;
}

th, td {
    padding: 5px;
    border: 1px solid #fff;
}

table th:hover, table td:hover {
    background: #5e9fd1;
    transition: 0.5s;
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

    .schedule-container {
        width: 100%;
        padding: 1rem;
    }

    table {
        width: 20%;
        margin: 10px auto;
    }
}

.highlight {
    background-color: #ffcccb;
}