* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('bg_imut.png') no-repeat center center fixed;
    background-size: cover;
}

.schedule-container {
    width: 80%;
    max-width: 600px;
    margin: 6rem auto;
    margin-top: 3rem;
    padding: 2rem;
    background: rgba(0, 0, 51, 0.8);
    border-radius: 30px;
    border: 2px dashed #fff;
    color: #fff;
    overflow: auto;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #e0e0e0;
}

table {
    width: 100%;
    margin: 20px auto;
    height: 25vh;
    border-collapse: collapse;
    border: 2px dashed #fff;
    text-align: center;
    color: #fff;
}

th, td {
    padding: 5px;
    border: 1px solid #fff;
}

table th:hover {
    background: #5e9fd1;
}

table tr td:hover {
    background: #5e9fd1;
}

table td:hover, table th:hover {
    transition: 0,5s;
}

.highlight {
    background-color: #ffcccb;
}
