* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
}

.form-container h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    color: #e0e0e0;
    border-bottom: 3px dotted white;
    padding-bottom: 5px;
}

.form-container {
    width: 80%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(67, 67, 156, 0.8);
    border-radius: 15px;
    border: 2px dashed #fff;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

input[type="text"],
input[type="date"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

textarea {
    resize: none;
    height: 60px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="reset"] {
    background-color: #f44336;
    color: white;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}
